:root {
    --white-color: #FFF;
    --primary-color: rgb(81, 190, 120);
    --text-color: #333;
}

.modal-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal-footer {
	display: flex;
    justify-content: flex-end;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-body .form-control {
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
.modal-body textarea.form-control {
	resize: vertical;
}

.unable {
    background-color: rgb(231, 231, 231) !important;
}

.form-group {
    margin-bottom: 1rem;
    width: 30%;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 15px;
    font-weight: bold;
}


input[type="date" i], textarea{
    font-family: 'Roboto', sans-serif;;
}

.btn {
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
	line-height: 1.5;
	cursor: pointer;
	border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input.btn {
    padding: 8px 30px;
    width: 120px;
    margin-left: 15px;
}

input.btn:hover {
    opacity: 0.5;
}

input.btn.back {
    background-color: #f0ad4e;
}

input.btn.update {
    background-color: #5cb85c;
}

input.btn.delete {
    background-color: #d9534f;
}

.add {
    background-color: #5bc0de;
}


/* -----------------------PAGINATION--------------- */

  .pager {
    font-size: 0;
    text-align: center;
    padding-bottom: 20px;

  }
  .pager__item {
    display: inline-block;
    vertical-align: top;
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 2px;
  }
  .pager__item.active .pager__link {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
  }
  .pager__item--prev svg, .pager__item--next svg {
    width: 8px;
    height: 12px;
  }
  .pager__item--next .pager__link svg {
    transform: rotate(180deg);
    transform-origin: center center;
  }
  .pager__link {
    position: relative;
    border-radius: 4px;
    display: block;
    text-align: center;
    width: 2.625rem;
    height: 2.625rem;
    line-height: 2.625rem;
    margin-left: -1px;
    color: #2f3640;
    text-decoration: none;
    transition: 0.3s;
  }
  .pager__link:hover, .pager__link:focus, .pager__link:active {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
  }
  .pager__link:hover svg path, .pager__link:focus svg path, .pager__link:active svg path {
    fill: #fff;
  }
  .pager .pager__item.active + .pager__item .pager__link, .pager .pager__item:hover + .pager__item .pager__link {
    border-left-color: #ffb74d;
  }
  
  @media screen and (max-width: 576px) {
    .pager__item {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .pager__item.active, .pager__item:first-of-type, .pager__item:last-of-type, .pager__item:nth-of-type(2), .pager__item:nth-last-of-type(2) {
      position: initial;
      top: initial;
      left: initial;
    }
    .pager__item.active + li {
      position: initial;
      top: initial;
      left: initial;
    }
  }


  /* -----------------SEARCH--------------- */

  .header-search__input-wrap {
    display: flex;
    align-items: center;
    position: relative;
    width: 30%;
    /* width: 40%; */
    margin: auto;
}

.header-search__input {
    flex: 1;
    outline: none;
    height: 45px;
    width: 20%;
    border: 1px solid #DDD;
    margin-right: 12px;
    border-radius: 30px;
    box-shadow: 0 1px 3px #DDD;
    font-size: 15px;
    padding: 4px 16px;
}

.history-search {
  font-size: 15px;
  color: #757575;
  font-style: italic;
  margin-right: 20px;
}

.header-search__input:focus {
    border: 1px solid var(--primary-color);
}

.header-search__icon {
    font-size: 18px;
    position: absolute;
    right: 22px;
    cursor: pointer;
    padding: 4px 8px;
    color: rgb(78, 78, 78);
}

.header-search__icon:hover {
    color: var(--primary-color);
}

.empty {
  text-align: center;
  margin-top: 10px;
}

/* --------------FILTER COURSES-------------- */

.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.filter-icon {
  position: relative;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  padding: 0 10px;
  justify-content: center;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -.02rem;
  font-size: 20px;
  color: #0f7c90;
  background-color: transparent;
  border: 1px solid #2896a9;
}

.filter-icon:hover {
  background-color: #e4f5f8;
  cursor: pointer;
}

.filter-wrapper .form-group {
  margin-bottom: 0;
}

.filter-wrapper .form-group .form-control {
  width: 100%;
  height: 25px;
}



