
{{#section 'css'}}
    <link rel="stylesheet" href="/css/user/changepassword.css">
{{/section}}

<div class="container">
        <h1 class="big-title">Đổi mật khẩu</h1>
        
        <div class="content">
            <form method="POST" action="/user/changepassword" >

                <div class="row mt-3 mb-3">
                    <div class="col-5 title">
                        Mật khẩu cũ
                    </div>
                    <div class="col-7">
                        <input type="password" name="oldpassword" class="input-value" >
                    </div>
                    
                    
                </div>

                <div class="row content-small">
                    <div class="col-5 title">
                        Nhập mật khẩu mới
                    </div>
                    <div class="col-7">
                        <input type="password" name="newpassword" class="input-value" >
                    </div>
                   
                </div>

                <div class="row content-small">
                    <div class="col-5 title">
                        Xác nhận mật khẩu
                    </div>
                    <div class="col-7">
                        <input type="password" name="confirmpassword" class="input-value" >
                    </div>
                   
                </div>

            
                <div class="text-center content-small">
                    <button class="btn btn-primary button-change" type="submit">
                        <i class="fas fa-check-square mr-2"></i>
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>