
{{#section 'css'}}
    <link rel="stylesheet" href="/css/user/changepassword.css">
{{/section}}

<div class="container">
        <h1 class="big-title">Đổi mật khẩu</h1>
        
        <div class="content">
            <form method="POST" id="frmchangepw" action="/user/changepassword" >

                <div class="row mt-3 mb-3 form-val">
                    <div class="col-5 title">
                        Mật khẩu cũ
                    </div>
                    <div class="col-7">
                        <input type="password" id="old-pw" name="oldpassword" class="input-value" >
                        <span class="val-message"></span>
                    </div>
                    
                    
                </div>

                <div class="row content-small form-val">
                    <div class="col-5 title">
                        Nhập mật khẩu mới
                    </div>
                    <div class="col-7">
                        <input type="password" id="new-pw" name="newpassword" class="input-value" >
                        <span class="val-message"></span>
                    </div>
                   
                </div>

                <div class="row content-small form-val">
                    <div class="col-5 title">
                        Xác nhận mật khẩu
                    </div>
                    <div class="col-7">
                        <input type="password" id="conf-pw" name="confirmpassword" class="input-value" >
                        <span class="val-message"></span>
                    </div>
                   
                </div>

            
                <div class="text-center content-small">
                    <button class="btn btn-primary button-change" type="submit">
                        <i class="fas fa-check-square mr-2"></i>
                        Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script src="/javascript/validator.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#frmchangepw",
                formGroupSelector: ".form-val",
                errorSelector: ".val-message",
                rules: [
                    Validator.minLength("#old-pw", 6, "Mật khẩu dài hơn 6 kí tự"),
                    Validator.minLength("#new-pw", 6, "Mật khẩu phải dài hơn 6 kí tự"),
                    Validator.isRequired("#conf-pw", "Mật khẩu không trùng khớp"),
                    Validator.isConfirmed(
                        "#conf-pw",
                        function () {
                            return document.querySelector("#frmchangepw #new-pw").value;
                        },
                        "Mật khẩu không trùng khớp"
                    ),
                ]
            });
        });
    </script>