{{#section 'css'}}
<link rel="stylesheet" href="/css/account/userlogin.css">
<link rel="stylesheet" href="/css/lecturer/changePassword.css">
{{/section}}
{{#section 'js'}}
<script src="/javascript/validator.js"></script>

{{!-- Validate form --}}
<script>
    Validator({
        form: '#frmchangpw-lecturer',
        formGroupSelector: '.form-group',
        errorSelector: '.decript-chanepassword',
        rules: [
            Validator.minLength("#oldPass", 6, "Mật khẩu phải dài hơn 6 kí tự"),
            Validator.minLength("#newPass", 6, "Mật khẩu phải dài hơn 6 kí tự"),
            Validator.isRequired("#confirmPass", "Mật khẩu không trùng khớp"),
                    Validator.isConfirmed(
                        "#confirmPass",
                        function () {
                            return document.querySelector("#frmchangpw-lecturer #newPass").value;
                        },
                        "Mật khẩu không trùng khớp"
                    ),
        ]
    })
</script>
{{/section}}


<div class="content">
    <div class="page-title">
        <h1>Đổi mật khẩu</h1>
    </div><!-- /.page-title -->
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="cont-changepassword">
                    <form method="POST" id="frmchangpw-lecturer">
                        <div class="form-group">
                            <label class="label-changepassword" for="oldPass">Mật khẩu cũ</label>
                            <input type="password" id="oldPass" name="oldpassword" class="inp-change-password form-control">
                            <small class="decript-chanepassword" class="form-text text-muted"></small><small style="opacity: 0;">1</small>
                        </div>
                        <div class="form-group">
                            <label class="label-changepassword" for="oldPass">Mật khẩu mới</label>
                            <input type="password" id="newPass" name="newpassword" class="inp-change-password form-control">

                            <small class="decript-chanepassword" class="form-text text-muted">Lưu ý: Mật khẩu phải dài hơn 6 kí tự</small>
                            <small style="opacity: 0;">1</small>
                        </div>
                        <div class="form-group">
                            <label class="label-changepassword" for="oldPass">Xác nhận mật khẩu</label>
                            <input type="password" id="confirmPass" name="confirmpassword" class="inp-change-password form-control">

                            <small class="decript-chanepassword" class="form-text text-muted">Xác nhận lại mật khẩu mới</small>
                            <small style="opacity: 0;">1</small>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary button-change-password">Đổi mât khẩu</button>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
    
    
</div>



</div><!-- /.content -->

<script>
    $(document).ready(function () {
        
        $('.menu-advanced .edit-info').removeClass('active');
        $('.menu-advanced .change-password').addClass('active');
        $('.menu-advanced .course-management').removeClass('active');
    });
</script>
