<div class="content">
    <div class="page-title">
        <h1>Quản lý khóa học</h1>
    </div><!-- /.page-title -->

    <div class="background-white p20 mb30">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link my-course" href="/lecturer/courses">Khóa học của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link up-course" href="/lecturer/courses/create">Đăng khóa học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link edit-course" href="#">Bổ sung khóa học</a>
            </li>
        </ul>

        <div class="row">
            <form method="POST" action="/lecturer/courses/store">
                <div class="form-body">
                    <div class="form-group col-sm-6">
                        <label for="name">Tên khóa học</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Ten khoa hoc">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="fieldName">Danh muc</label>
                        <input type="text" class="form-control" id="fieldName" name="fieldName" placeholder="Danh muc">
                    </div><!-- /.form-group -->

                    <div class="form-group col-sm-6">
                        <label for="tinyDes">Mo ta khoa hoc</label>
                        <input type="text" class="form-control" id="tinyDes" name="tinyDes" placeholder="Mo ta khoa hoc">
                    </div>
                    <!--/.form-group -->

                    <div class="form-group col-sm-6">
                       <label for="fullDes">Mo ta chi tiet</label>
                        <input type="text" class="form-control" id="fullDes" name="fullDes" placeholder="Mo ta chi tiet">
                    </div>
                    <!--/.form-group -->
                    <div class="form-group col-sm-6">
                       <label for="initialPrice">Hoc phi</label>
                        <input type="number" class="form-control" id="initialPrice" name="initialPrice" placeholder="Hoc phi">
                    </div><!-- /.form-group -->
                    <div class="form-group col-sm-6">
                        <label for="currentPrice">Gia khuyen mai</label>
                        <input type="number" class="form-control" id="currentPrice" name="currentPrice" placeholder="Gia khuyen mai">
                    </div><!-- /.form-group -->

                    <button type="submit" class="btn btn-success">Them khoa hoc</button>
                </div>
            </form>
        </div><!-- /.row -->

    </div>



</div><!-- /.content -->

<script>
    $(document).ready(function () {
        $('.up-course').addClass('active-item');
        $('.menu-advanced .edit-info').removeClass('active');
        $('.menu-advanced .course-management').addClass('active');
    });
</script>