
{{#section 'css'}}  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
<link rel="stylesheet" href="/css/lecturer/createCourse.css">
{{/section}}
{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script>
    tinymce.init({
        selector: '#fullDes',
        height: 300,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });

    $('#avatar').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,  //Khung để kéo thả bự bự
        allowedFileExtensions: ['png', 'jpg', 'gif']
    });

    $('#introVideo').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,
        allowedFileExtensions: ['mp4']  //chỉ cho phép upload các định dạng sau
    });

</script>
{{/section}}


<div class="content">
    <div class="page-title">
        <h1>Quản lý khóa học</h1>
    </div><!-- /.page-title -->

    <div class="background-white p20 mb30">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link my-course" href="/lecturer/courses">Khóa học của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link up-course" href="/lecturer/courses/create">Đăng khóa học</a>
            </li>
            <li class="nav-item">
                <a class="nav-link edit-course" href="#">Bổ sung khóa học</a>
            </li>
        </ul>

        <div class="row">
            <form id="frmMain" method="POST" action="/lecturer/courses/store" enctype="multipart/form-data">
                <div class="form-group col-sm-6">
                    <label for="name">Tên khóa học</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ten khoa hoc">
                </div>

                <div class="form-group col-sm-6">
                    <label for="fieldName">Danh muc</label>
                    <input type="text" class="form-control" id="fieldName" name="fieldName" placeholder="Danh muc">
                </div>

                <div class="form-group col-sm-6">
                    <label for="tinyDes">Mo ta khoa hoc</label>
                    <input type="text" class="form-control" id="tinyDes" name="tinyDes"
                        placeholder="Mo ta khoa hoc">
                </div>

                <div class="form-group col-sm-12">
                    <label for="fullDes">Mo ta chi tiet</label>
                    <textarea class="form-control" name="fullDes" id="fullDes" cols="10" rows="10"></textarea>
                </div>

                <div class="form-group col-sm-6">
                    <label for="initialPrice">Hoc phi</label>
                    <input type="number" class="form-control" id="initialPrice" name="initialPrice"
                        placeholder="Hoc phi">
                </div>

                <div class="form-group col-sm-6">
                    <label for="currentPrice">Gia khuyen mai</label>
                    <input type="number" class="form-control" id="currentPrice" name="currentPrice"
                        placeholder="Gia khuyen mai">
                </div>

                <div class="form-group col-sm-6">
                    <label for="avatar">Ảnh đại diện</label>
                    <input type="file" class="file" id="avatar" name="avatar" placeholder="Chọn ảnh">
                </div>

                <div class="form-group col-sm-6">
                    <label for="introVideo">Video giới thiệu khóa học</label>
                    <input type="file" class="file" id="introVideo" name="introVideo" placeholder="Chọn video">
                </div>

                <button type="submit" class="btn btn-success" id="btnSubmit">Add course</button>
            </form>
        </div>
    </div>
</div>



</div><!-- /.content -->

<script>
    $(document).ready(function () {
        $('.up-course').addClass('active-item');
        $('.menu-advanced .edit-info').removeClass('active');
        $('.menu-advanced .course-management').addClass('active');
    });
</script>