
{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
<link rel="stylesheet" href="/css/lecturer/createCourse.css">
<link rel="stylesheet" href="/css/account/userlogin.css">
{{/section}}
{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script src="/javascript/validator.js"></script>
<script>
    tinymce.init({
        selector: '#fullDes',
        height: 300,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });

    $('#frmMain #avatar').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,  //Khung để kéo thả bự bự
        allowedFileExtensions: ['png', 'jpg', 'gif'],
        showUpload: false,
    });

    $('#frmMain #introVideo').fileinput({
        theme: 'fa',
        dropZoneEnabled: false,
        allowedFileExtensions: ['mp4'],
        showUpload: false,
        //showPreview: false,
    });

</script>

{{!-- Validate form --}}
<script>
    Validator({
        form: '#frmMain',
        formGroupSelector: '.form-group',
        errorSelector: '.form-message',
        rules: [
            Validator.isRequired("#name", "Vui lòng nhập tên khóa học."),
            Validator.isRequired("#initialPrice", "Vui lòng nhập học phí."),
            Validator.isRequired("#tinyDes", "Vui lòng nhập mô tả ngắn học về khóa học"),
            Validator.isRequired("#fullDes", "Vui lòng nhập chi tiết nội dung của khóa học."),
            Validator.isRequired("#avatar", "Vui lòng chọn ảnh đại diện cho khóa học."),
            Validator.isRequired("#introVideo", "Vui lòng chọn video giới thiệu khóa học."),
            Validator.isRequired("#quantity", "Vui lòng nhập số lượng bài giảng."),
            Validator.ischecked("#fieldId",
                function () {
                    return document.querySelector("#frmMain #fieldId").value;
                },
                "Vui lòng chọn lĩnh vực của khóa học.")
        ],
        /*onSubmit: function() {
            alert("submit");
            $('#frmMain').submit();
        }*/
    })
</script>
{{/section}}


<div class="content">
    <div class="page-title">
        <h1>Quản lý khóa học</h1>
    </div><!-- /.page-title -->

    <div class="background-white p-3 mb30">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link my-course" href="/lecturer/courses">Khóa học của tôi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link up-course" href="/lecturer/courses/create">Tạo mới khóa học</a>
            </li>
        </ul>

        <form id="frmMain" method="POST" action="/lecturer/courses/store" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="name">Tên khóa học</label>
                    <input type="text" class="form-control" id="name" name="name"
                        placeholder="Vd: Lập trình web với PHP">
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="fieldId">Lĩnh vực</label>
                    <select name="fieldId" id="fieldId" class="form-control">
                        {{#each fields}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="initialPrice">Học phí</label>
                    <input type="number" class="form-control" id="initialPrice" name="initialPrice"
                        placeholder="Vd: 1.000.000">
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="currentPrice">Giá khuyến mãi (nếu có)</label>
                    <input type="number" class="form-control" id="currentPrice" name="currentPrice"
                        placeholder="Vd: 900.000">
                </div>

                <div class="form-group col-sm-6">
                    <label for="avatar">Ảnh đại diện</label>
                    <input type="file" class="file" id="avatar" name="avatar" placeholder="Chọn ảnh">
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="introVideo">Video giới thiệu khóa học</label>
                    <input type="file" class="file" id="introVideo" name="introVideo" placeholder="Chọn video">
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="tinyDes">Mô tả ngắn gọn nội dung</label>
                    <input type="text" class="form-control" id="tinyDes" name="tinyDes"
                        placeholder="Mô tả ngắn gọn....">
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="quantity">Số lượng bài giảng</label>
                    <input type="number" class="form-control" id="quantity" name="quantity"
                        placeholder="Vd: 12 bài">
                    <span class="form-message"></span>
                </div>

                <div class="form-group col-sm-12">
                    <label for="fullDes">Mô tả chi tiết nội dung</label>
                    <textarea class="form-control" name="fullDes" id="fullDes" cols="10" rows="10"
                        placeholder="Mô tả chi tiết...."></textarea>
                    <span class="form-message"></span>
                </div>

                <button type="submit" class="btn btn-success" id="btnSubmit">Tạo khóa học</button>
            </div>
        </form>
    </div>
</div>



</div><!-- /.content -->

<script>
    $(document).ready(function () {
        $('.up-course').addClass('active-item');
        $('.menu-advanced .edit-info').removeClass('active');
        $('.menu-advanced .course-management').addClass('active');
    });
</script>