
{{#section 'css'}}
<link rel="stylesheet" href="/css/lecturer/manageLecturer.css">
{{/section}}

{{#section 'js'}}
{{/section}}

<div class="content">
    <div class="page-title">
        <h1>Chỉnh sửa thông tin</h1>
    </div><!-- /.page-title -->

    <div class="background-white p-3 mb30">
        <h3 class="page-heading">
            Thông tin liên lạc
        </h3>

        <div class="row">
            <form id="" class="form-container">
            <div class="form-body">
                <div class="form-group col-sm-6">
                    <label>Họ tên</label>
                    <input type="text" class="form-control" value="Phạm Trình">
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                    <label>Username</label>
                    <input type="text" class="form-control" value="phamtrinhisme">
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                    <label>E-mail</label>
                    <input type="text" class="form-control" value="trinhpham5337@example.com">
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                    <label>Số điện thoại</label>
                    <input type="text" class="form-control" value="0333225337">
                </div><!-- /.form-group -->
                <div class="form-group col-sm-6">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" value="Quận 11, TPHCM">
                </div><!-- /.form-group -->

                <span class="save">
                    <input type="submit" class="btn btn-success" value="Save">
                </span>
            </div>
            </form>
        </div><!-- /.row -->
    </div>



    <div class="background-white p-3 mb30">
        <h3 class="page-heading">
            Kinh nghiệm nghề nghiệp
        </h3>

        <div class="row">
            <form id="" class="form-container">
                <div class="form-body">
                    <div class="form-group col-sm-6">
                        <label>Chức vụ</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>

                    <div class="form-group col-sm-6">
                        <label>Kinh nghiệm</label>
                        <textarea class="form-control" rows="4"></textarea>
                    </div>

                    <span class="save">
                        <input type="submit" class="btn btn-success" value="Save">
                    </span>
                </div>
            </form>
        </div>
    </div>

</div><!-- /.content -->
                    

