
{{#section 'css'}}
<link rel="stylesheet" href="/css/lecturer/manageLecturer.css">
<link rel="stylesheet" href="/css/account/userLogin.css">

{{/section}}

{{#section 'js'}}
{{/section}}

<div class="content">
    <div class="page-title">
        <h1>Chỉnh sửa thông tin</h1>
    </div><!-- /.page-title -->

    <div class="background-white p-3 mb30">
        <h3 class="page-heading">
            Thông tin liên lạc
        </h3>

        <div class="row">
            <form id="frm-manage-lecturer" action="/lecturer/profile" method="POST" class="form-container">
            <div class="form-body">
                <div class="form-group col-sm-6">
                    <label>Họ tên</label>
                    <input type="text" id="name-lec" name="name" class="form-control" style="height: 40px;" value="{{authUser.name}}">
                    <span class="form-message" style="font-size: 1.2rem;"></span>
                    <span style="opacity: 0;">1</span>
                </div>

                <div class="form-group col-sm-6">
                    <label>E-mail</label>
                    <input type="text" name="email" readonly class="form-control" style="height: 40px;" value="{{authUser.email}}">
                    <span class="form-message" ></span>
                    <span style="opacity: 0;">1</span>
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                    <label>Số điện thoại</label>
                    <input type="text" id="phone-lec" name="phone" class="form-control" style="height: 40px;" value="{{authUser.phone}}">
                    <span class="form-message" style="font-size: 1.2rem;"></span>
                    <span style="opacity: 0;">1</span>
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                    <label>Địa chỉ</label>
                    <input type="text" name="address" id="address-lec" class="form-control" style="height: 40px;" value="{{authUser.address}}">
                    <span class="form-message" style="font-size: 1.2rem;"></span>
                    <span style="opacity: 0;">1</span>
                </div><!-- /.form-group -->

                <span class="save mt-2">
                    <input type="submit" class="btn btn-success" value="Save">
                </span>
            </div>
            </form>
        </div><!-- /.row -->
    </div>
</div><!-- /.content -->

<script src="/javascript/validator.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        Validator({
            form: "#frm-manage-lecturer",
            formGroupSelector: ".form-group",
            errorSelector: ".form-message",
            rules: [
                Validator.isRequired("#name-lec", "Xin vui lòng nhập tên"),
                Validator.minLength("#phone-lec", 9, "Số điện thoại phải dài hơn 9 số"),
                Validator.isRequired("#address-lec", "Xin vui lòng nhập địa chỉ"),
            ]
        });
    });
</script>
                    

