
{{#section 'css'}}
<link rel="stylesheet" href="/css/lecturer/manageLecturer.css">
<link rel="stylesheet" href="/css/account/userLogin.css">

{{/section}}

{{#section 'js'}}
{{/section}}

<div class="content">
    <div class="page-title">
        <h1>Chỉnh sửa thông tin</h1>
    </div><!-- /.page-title -->

    <div class="background-white p-3 mb30">
        <h3 class="page-heading">
            Thông tin liên lạc
        </h3>

        <div class="row">
            <form id="" action="/lecturer/profile" method="POST" class="form-container">
            <div class="form-body">
                <div class="form-group col-sm-6">
                    <label>Họ tên</label>
                    <input type="text" name="name" class="form-control" value="{{authUser.name}}">
                </div><!-- /.form-group -->

                {{!-- <div class="form-group col-sm-6">
                    <label>Username</label>
                    <input type="text" class="form-control" value="phamtrinhisme">
                </div><!-- /.form-group --> --}}

                <div class="form-group col-sm-6">
                    <label>E-mail</label>
                    <input type="text" name="email" readonly class="form-control" value="{{authUser.email}}">
                </div><!-- /.form-group -->

                <div class="form-group col-sm-6">
                    <label>Số điện thoại</label>
                    <input type="text" name="phone" class="form-control" value="{{authUser.phone}}">
                </div><!-- /.form-group -->
                <div class="form-group col-sm-6">
                    <label>Địa chỉ</label>
                    <input type="text" name="address" class="form-control" value="{{authUser.address}}">
                </div><!-- /.form-group -->

                <span class="save mt-2">
                    <input type="submit" class="btn btn-success" value="Save">
                </span>
            </div>
            </form>
        </div><!-- /.row -->
    </div>


</div><!-- /.content -->
                    

