.cont-changepassword{
   margin-top: 2rem;
}

.inp-change-password{
    height: 40px;
    font-size: 1.8rem;
}

.form-group{
    width: 100%;
}

.button-change-password{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.label-changepassword{
    font-size: 1.8rem;
    font-weight: 500;
}

.decript-chanepassword{
    font-size: 1.2rem;
    font-style: italic;
}