.nav.nav-tabs {
    margin-bottom: 30px;
}

.btn.myBtn {
    width: 120px;
}

.product-item__status {
    font-size: 1.4rem;
    margin-bottom: 0;
}

.product-item__status .active {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color) !important;
}

.product-item__status span {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
}

.empty-data {
   font-size: 2rem;
   font-weight: 600;
}

.empty-data ~ p {
    font-size: 1.4rem;
}

.empty-data ~ p a {
    font-size: 1.5rem;
    font-weight: 500;
}

