@charset "UTF-8";


html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff; }

.form-body {
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; 
}

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); 
  }


textarea.form-control {
  height: 100px; 
}

.form-group {
  margin-bottom: 15px; 
  width: 50%;
}

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }



/*------------------------------------------------------------------
[ 4. Common classes ]
*/
.center {
  text-align: center; }

.right {
  text-align: right; }

.bordered {
  border: 2px solid #e9e9e9; }

.block {
  padding-bottom: 80px;
  padding-top: 80px; }
  .block .page-header:first-of-type {
    margin-top: 0px; }

.display-inline-block {
  display: inline-block; }

.block-large-padding {
  padding-bottom: 80px;
  padding-top: 80px; }

.background-white {
  background-color: #fff; }

.background-primary {
  background-color: #009f8b;
  color: #fff; }

.m0 {
  margin: 0px !important; }

.mb0 {
  margin-bottom: 0px; }

.mt0 {
  margin-top: 0px !important; }

.mb30 {
  margin-bottom: 30px; }

.mt30 {
  margin-top: 30px; }

.mb50 {
  margin-bottom: 50px; }

.mb-80 {
  margin-bottom: -80px; }

.mt80 {
  margin-top: 80px; }

.mt-70 {
  margin-top: -70px; }

.mt-80 {
  margin-top: -80px !important; }

.mb80 {
  margin-bottom: 80px; }

.mb-50 {
  margin-bottom: -50px; }

.mt-140 {
  margin-top: -150px; }

.mt-150 {
  margin-top: -150px; }

.mt50 {
  margin-top: 50px; }

.p30 {
  padding: 30px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.pb0 {
  padding-bottom: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.contact-info-wrapper h2 {
  margin: 0px; }
  @media (min-width: 1200px) {
    .contact-info-wrapper h2 {
      float: left; } }

.contact-info {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: -10px;
  margin-top: -10px; }
  .contact-info .fa {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 22px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    width: 50px; }
  @media (min-width: 1200px) {
    .contact-info {
      float: right; } }
  @media (max-width: 1199px) {
    .contact-info {
      margin-top: 40px; } }

.contact-info-item {
  margin-left: 40px; }
  .contact-info-item span {
    margin: 0px 0px 0px 20px; }
  .contact-info-item:first-child {
    margin-left: 0px; }
  @media (max-width: 767px) {
    .contact-info-item {
      display: block;
      margin: 20px 0px 0px 0px; } }

.page-header {
  border: 0px;
  margin: 80px 0px;
  padding: 0px;
  text-align: center; }
  .page-header h1 {
    color: #363636;
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
    padding: 0px; }
  .page-header p {
    color: rgba(54, 54, 54, 0.6);
    font-size: 15px;
    margin: 30px 0px 0px 0px;
    padding: 0px; }
    .page-header p a {
      border-bottom: 1px solid #009f8b; }
      .page-header p a:hover {
        border-color: #008675; }
  .page-header.left {
    text-align: left; }

.page-title {
  border-bottom: 1px solid #e9e9e9;
  margin: 0;
  padding: 0px 0px 10px 0px; }
  .page-title h1 {
    color: #363636;
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
    padding: 0px; }

@media (max-width: 767px) {
  .box {
    margin-bottom: 30px; } }



.label {
  border-radius: 0px; }

.label-md {
  font-size: 90%; }

.label-lg {
  font-size: 110%; }

.label-primary {
  background-color: #009f8b; }

.label-secondary {
  background-color: #c6af5c; }

.label-danger {
  background-color: #d9534f; }

.label-warning {
  background-color: #fab95f; }

.label-success {
  background-color: #6bd072; }

.label-info {
  background-color: #67bbe5; }

.badge {
  background-color: #fff; }
  .btn.btn-primary .badge, .btn.fileinput-upload-button .badge, .detail-gallery .owl-next .badge, .detail-gallery .owl-prev .badge {
    color: #009f8b; }
  .btn.btn-secondary .badge, .detail-gallery .btn-secondary.owl-next .badge, .detail-gallery .btn-secondary.owl-prev .badge {
    color: #c6af5c; }


/*------------------------------------------------------------------
[ 5. Forms ]
*/


textarea {
  resize: vertical; }

button i {
  margin-right: 10px; }

.save {
  width: 100%;
  display: flex; 
  justify-content: flex-end; 
  padding-right: 15px;
}

.btn-success {
  background-color: #009f8b;
  border-color: #009f8b;
}

/*------------------------------------------------------------------
[ Widget ]
*/




.widget {
  margin-bottom: 30px; }
  .widget .menu {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .widget .menu li a {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      color: rgba(54, 54, 54, 0.6);
      line-height: 26px;
      display: block;
      padding: 7px 0px;
      transition: all .15s linear; }
      .widget .menu li a:hover {
        color: #009f8b;
        padding-left: 5px; }
      .widget .menu li a strong {
        color: #009f8b;
        font-size: 11px; }
    .widget .menu li:last-child a {
      border-bottom: 0px; }
  .widget .menu-advanced {
    background-color: #fff;
    list-style: none;
    margin: 0px;
    padding: 20px; }
    .widget .menu-advanced li {
      margin: 0px 0px 5px 0px;
      position: relative;
      transition: all .15s linear; }
      .widget .menu-advanced li a {
        color: #444;
        display: block;
        padding: 10px 15px; }
        .widget .menu-advanced li a .fa {
          color: #b6b7b8;
          font-size: 13px;
          width: 20px; }
      .widget .menu-advanced li.active {
        background-color: #009f8b; }
        .widget .menu-advanced li.active a {
          color: #fff; }
          .widget .menu-advanced li.active a .fa {
            color: #fff; }
        .widget .menu-advanced li.active:hover {
          background-color: #009f8b; }
        .widget .menu-advanced li.active:after {
          color: #fff; }
      .widget .menu-advanced li:after {
        color: #b6b7b8;
        content: '';
        font-family: 'FontAwesome';
        font-size: 10px;
        position: absolute;
        right: 10px;
        top: 12px; }
      .widget .menu-advanced li:hover {
        background-color: rgba(0, 0, 0, 0.03); }
      .widget .menu-advanced li a:hover {
        text-decoration: none;
      }
      .widget .menu-advanced li:last-child {
        margin: 0px; }




/*------------------------------------------------------------------
[ 18. User ]
*/


  /* ---------------------------------- */
p {
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  color: #363636; }

h1, h2, h3 {
  font-weight: 300;
  margin-bottom: 30px; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 10px; }


h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

ol li {
  margin-bottom: 15px; }

.page-wrapper {
  position: relative;
  background-color: #f7f8f9;
  display: table;
  height: 100%;
  overflow: hidden;
  table-layout: fixed;
  width: 100%; }

.main {
  display: table-row;
  height: 100%; }

  /* ----------------MANAGE COURSES-------------- */

 .nav-link {
   font-size: 16px;
   font-weight: bold;
  color: #363636;
  padding: 10px 30px;
 }
 .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .active-item {
   color: rgb(81, 190, 120);
  border-bottom: 2px solid rgb(81, 190, 120) !important;
}

.nav-tabs {
  margin-bottom: 40px;
}



/* --------------------ALL PRODUCTS---------------------- */


.product-item:hover {
  text-decoration: none;
}

.card-item {
  box-shadow: 0 2px 2px #ccc;
  border: 1px solid #ddd;
}

.product-item__img {
  object-fit: contain;
  box-shadow: 0 2px 2px #ccc;
}

.product-item__title {
  color: var(--text-color);
  font-size: 1.7rem;
  margin-bottom: 12px;
}

.product-item__category {
  font-size: 1.4rem;
  color: #333;
  margin-top: 12px;
  font-weight: 600;
}

.product-item__rating {
  color: #d5d5d5;
  margin-left: auto;
}

.product-item__rating i {
  font-size: 1.2rem;
}

.product-item__total-star {
  font-size: 1.4rem;
  color: #be5a0e;
  position: relative;
  top: 2px;
  margin-right: 6px;
}

.product-item__star--gold {
  color: var(--star-gold-color);
}

.product-item__total-rating {
  display: inline-block;
  font-size: 1.4rem;
  margin-left: 4px;
}

.product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.product-item__price-old {
  color: #666;
  text-decoration: line-through;
}

.product-item__price-current {
  color: red;
  margin-left: 10px;
  font-size: 1.5rem;
}

.product-item__footer a {
  font-size: 1.4rem;
}
