
{{#section 'css'}}
<link rel="stylesheet" href="/css/admin/manage.css">
{{/section}}


<div class="wrapper">
		<div class="row">
			<div class="col-100 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Quản lý Học viên
						</h3>
	
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Họ tên</th>
									<th>Email</th>
									<th>Password</th>									
									<th>Số điện thoại</th>
									<th>Trạng thái</th>
									<th>Quản lý</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Tran Anh Tuat</td>
									<td>bbbbb@gmail.com</td>
									<td>concuxinhxan123</td>
									<td>0123456789</td>
									<td>Hoan thanh</td>
									<td>
										<a href="/admin/student/edit" class="edit"><i class="material-icons" title="Edit">&#xE254;</i></a>
										<a href="" class="delete"><i class="material-icons" title="Delete">&#xE872;</i></a>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>

<script src="/javascript/validator.js"></script>
<script>
		$('.sidebar-nav-item .dashboard').removeClass('active');
		$('.sidebar-nav-item .student-management').addClass('active');

		    document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#edit-student",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
					Validator.isRequired("#username", "Username invalid"),
                    Validator.isRequired("#name", "Student name invalid"),
					Validator.isRequired("#password", "Password invalid"),
                    Validator.isEmail("#email", "Email invalid"),
                    Validator.isRequired("#sdt", "Phone number invalid"),
                    Validator.isRequired("#address", "Address invalid"),
                    Validator.isConfirmed(
                        function () {
                            return document.querySelector("#edit-student").value;
                        },
                    ),
                ],
                onSubmit: function (data) {
                    // Call API
                    console.log(data);
                },
            });
        });
</script>






