<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/confirmregister.css">
  <title>Login</title>
</head>
<body>
  <div class="container shadow">
   
        <div class="warraper mb-2">

       
          <div class="header">
            <p class="title">Vui lòng nhập mã xác minh gồm 6 chữ số đã được gửi qua Email:</p>
            <p class="decrip">(Chúng tôi muốn xác minh rằng địa chỉ email đã đăng ký là của bạn)</p>
          </div>
          
          <div class="userInput">
            <input type="text" id="zero" onfocus="this.value=''" maxlength="1" onkeyup="InputOTP(this, 'first')" autofocus>
            <input type="text" id="first" onfocus="this.value=''" maxlength="1" onkeyup="InputOTP(this, 'second')">
            <input type="text" id="second" onfocus="this.value=''" maxlength="1" onkeyup="InputOTP(this, 'third')">
            <input type="text" id="third" onfocus="this.value=''" maxlength="1" onkeyup="InputOTP(this, 'four')">
            <input type="text" id="four" onfocus="this.value=''" maxlength="1" onkeyup="InputOTP(this, 'fifth')">
            <input type="text" id="fifth" onfocus="this.value=''" maxlength="1" onkeyup="checkOTP()">
          </div>
          <div class="timer">
            <p class="txtTimer">Mã OTP sẽ hết hạn sau <span class="spTimer">00:15</span> giây </p>
          </div>
          <div class="btnfooter">
            <p class="txtResendOTP">Bạn chưa nhận được OTP?</p>
            <span class="linkResendOTP">Gửi lại OTP</span>
          </div>
        </div>
      </div>
  </div>
  <script type="text/javascript">
    function InputOTP (first, last){
      if(first.value.length){
        document.getElementById(last).focus();
      }
    }
    function checkOTP(){
      var arrinp = document.getElementsByTagName('input');
      var result = '';
      for (let i = 0; i < arrinp.length; i++) {
        result += arrinp[i].value;
        arrinp[i].value = '';
      }
      document.getElementById('zero').focus();
      alert(result);
    }
  </script>
</body>
</html>