<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/account/forgotpassword.css">

    <title>Quên mật khẩu?</title>
</head>

<body>
    <div class="container">
            <div class="cont-right shadow-sm">
                <div class="text-center">
                    <i class="fas fa-lock"></i>
                </div>
                <h2 class="title">Quên mật khẩu?</h2>
                <p class="decript">Bạn có thể lấy lại mật khẩu tại đây</p>
                <form>
                    <input type="email" name="email" placeholder="Nhập địa chỉ email..." />
                                         
                    <div class="text-center">                    
                        <button class="btn-login" type="submit">Xác nhận</button> 
                    </div>
                </form>

                <p class="link_bottom mt-3">Quay lại trang<a class="ml-1" href="#">Đăng nhập</a></p>
            </div>
    </div>
</body>

</html>