<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>Đăng nhập</title>
</head>

<body>
    <div class="container">
        <div class="cont-right shadow">
            <h2 class="title">Đăng nhập</h2>
            <form id="frmLogin" action="/account/login" method="POST">
                <div class="form-group">
                    <input id="email" type="text" name="email" placeholder="Email..." />
                    <span class="form-message"></span>
                </div>
                <div class="form-group">
                    <input id="password" type="password" name="password" placeholder="Mật khẩu" />
                    <span class="form-message"></span>
                </div>
                <span id="error" class="error">{{error}}</span>
                <button type="submit" class="btn-login">Đăng nhập</button>
                <hr>
                <a href="#" class="btnGoogle"><i class="fab fa-google mr-1"></i>Đăng nhập với Google</a>
                <a href="#" class="btnFacebook"><i class="fab fa-facebook-f mr-1"></i>Đăng nhập với Facebook</a>
                <hr>
                <div>
                    <p class="link_bottom"><a href="/account/forgotpassword" class="text-center">Quên mật khẩu?</a></p>
                    <p class="link_bottom">Bạn chưa có tài khoản?<a class="ml-1" href="/account/register">Đăng ký</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <script src="/javascript/validator.js"></script>
    <script type="text/javascript">
        Validator({
            form: '#frmLogin',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#email', 'Vui lòng nhập trường này'),
                Validator.isEmail('#email', 'Địa chỉ email không hợp lệ.'),
                Validator.isRequired("#password", "Vui lòng nhập trường này.")
            ]
        });

        document.querySelector("#email").addEventListener("focus", myFunction);
        document.querySelector("#password").addEventListener("focus", myFunction);
        function myFunction() {
            document.querySelector("#error").innerText = "";
        }
    </script>
</body>

</html>