<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/register.css">
  <title>Register</title>
</head>
<body>
    <div class="container">
            <div class="cont-right shadow-sm">
                <p class="title">Tạo tài khoản</p>
                <form id="formRegister" method="POST" action="">
                    <div class="form-group">
                        <input type="text" id="username" name="name" placeholder="Họ và tên..." />  
                        <span class="form-message"></span>
                        <span class="message-clone">0</span>
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" name="email" placeholder="Email..." />
                        <span class="form-message"></span><span class="message-clone">0</span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Mật khẩu..."/> 
                        <span class="form-message"></span><span class="message-clone">0</span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="repeatpassword" name="repeatpassword" placeholder="Nhập lại mật khẩu"/>
                        <span class="form-message"></span><span class="message-clone">0</span>
                    </div>
                    
                    <hr>
                    <button type="submit" class="btn-login">Tạo tài khoản</button>
                    <div class="text-center mt-4">
                        <span class="link_bottom">Bạn đã có tài khoản?<a href="/account/login"> Đăng nhập</a></span>
                    </div>
                </form>
            </div>
    
    </div>
    <script src="/javascript/validator.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#formRegister",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired("#username", "Xin vui lòng nhập tên"),
                    Validator.isEmail("#email", "Email không hợp lệ"),
                    Validator.minLength("#password", 6, "Mật khẩu phải dài hơn 6 kí tự"),
                    Validator.isRequired("#repeatpassword", "Mật khẩu không trùng khớp"),
                    Validator.isConfirmed(
                        "#repeatpassword",
                        function () {
                            return document.querySelector("#formRegister #password").value;
                        },
                        "Mật khẩu không trùng khớp"
                    ),
                ]
            });
        });
    </script>
</body>