<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/register.css">
  <title>Register</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block cont-left"></div>
            <div class="col-lg-6 cont-right shadow">
                <p class="title">Create an Account</p>
                <form id="formRegister">
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="Enter your name..." />  
                        <span class="form-message"></span>
                        <span class="message-clone">0</span>
                    </div>
                    <div class="form-group">
                        <input type="text" id="email" name="email" placeholder="Email..." />
                        <span class="form-message"></span><span class="message-clone">0</span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="Password..."/> 
                        <span class="form-message"></span><span class="message-clone">0</span>
                    </div>
                    <div class="form-group">
                        <input type="password" id="repeatpassword" name="repeatpassword" placeholder="Repeat password"/>
                        <span class="form-message"></span><span class="message-clone">0</span>
                    </div>
                    
                    <hr>
                    <button class="btn-login">Create Account</button>
                   
                </form>
            </div>
        </div>
    </div>
    <script src="/javascript/validator.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#formRegister",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired("#username", "Your name invalid"),
                    Validator.isEmail("#email", "Email invalid"),
                    Validator.minLength("#password", 6, "Password must be longer than 6 characters"),
                    Validator.isRequired("#repeatpassword", "Repeat password invalid"),
                    Validator.isConfirmed(
                        "#repeatpassword",
                        function () {
                            return document.querySelector("#formRegister #password").value;
                        },
                        "Repeat password invalid"
                    ),
                ],
                onSubmit: function (data) {
                    // Call API
                    console.log(data);
                },
            });
        });
    </script>
</body>