{{#section 'css'}}
<link rel="stylesheet" href="/css/admin/qlsp.css">
{{/section}}

<div class="wrapper">
		<div class="row">
			<div class="col-100 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
              <h3>Quản lý Danh mục Sản phẩm</h3>
              <span style="margin-right: 10%;">
                <button name="products" class="btn btn-sm btn-info add-product">
                  Thêm Danh mục Sản Phẩm
                </button>
              </span>
						
					</div>
					<div class="card-content">

						<!-- add Modal HTML -->
						<div id="addEmployeeModal" class="modal"  >
							<div class="modal-dialog" >
								<div class="modal-content" >
									<form id="add-categories">
										<div class="modal-header">						
											<h4 class="modal-title">Thêm Danh Mục Khóa học</h4>
											<button type="button" class="close" aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body">					
											<div class="form-group">
												<label>ID danh mục</label>
												<input type="text" class="form-control" id="id">
												<span class="form-message"></span><span class="message-clone">0</span>
											</div>

											<div class="form-group">
												<label>Tên danh mục</label>
												<input type="text" class="form-control" id="name">
												<span class="form-message"></span><span class="message-clone">0</span>
											</div>

											<div class="form-group">
												<label>Số lượng khóa học</label>
												<input type="text" class="form-control" id="count-course">
												<span class="form-message"></span><span class="message-clone">0</span>
											</div>
										</div>
										<div class="modal-footer">
											<input type="button" class="btn btn-default close" value="Hủy bỏ">
											<input type="submit" class="btn btn-info" value="Lưu lại">
										</div>
									</form>
								</div>
							</div>
						</div>

						<!-- Edit Modal HTML -->
						<div id="editEmployeeModal" class="modal"  >
							<div class="modal-dialog" >
								<div class="modal-content" >
									<form id="edit-categories">
										<div class="modal-header">						
											<h4 class="modal-title">Chỉnh sửa Danh mục khóa học</h4>
											<button type="button" class="close" aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body">	
											<div class="form-group">
												<label>ID danh mục</label>
												<input type="text" class="form-control" id="id">
												<span class="form-message"></span><span class="message-clone">0</span>
											</div>

											<div class="form-group">
												<label>Tên danh mục</label>
												<input type="text" class="form-control" id="name">
												<span class="form-message"></span><span class="message-clone">0</span>
											</div>

											<div class="form-group">
												<label>Số lượng khóa học</label>
												<input type="text" class="form-control" id="count-course">
												<span class="form-message"></span><span class="message-clone">0</span>
											</div>			
										</div>
										<div class="modal-footer">
											<input type="button" class="btn btn-default close" value="Hủy bỏ">
											<input type="submit" class="btn btn-info" value="Lưu lại">
										</div>
									</form>
								</div>
							</div>
						</div>
						<!--End Edit Modal HTML -->

						<!-- Delete Modal HTML -->
						<div id="deleteEmployeeModal" class="modal">
							<div class="modal-dialog">
								<div class="modal-content">
									<form>
										<div class="modal-header">						
											<h4 class="modal-title">Xóa Danh mục khóa học </h4>
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body">					
											<p>Bạn thật sự muốn xóa Danh mục khóa học này?</p>
											<p class="text-warning"><small>Thao tác này không thể khôi phục.</small></p>
										</div>
										<div class="modal-footer">
											<input type="button" class="btn btn-default close" data-dismiss="modal" value="Hủy bỏ">
											<input type="submit" class="btn btn-danger" value="Xóa">
										</div>
									</form>
								</div>
							</div>
						</div>

						<!--End Delete Modal HTML -->
						<table>
							<thead>
								<tr>
									<th>ID</th>
									<th>Tên danh mục</th>
									<th>Số lượng khóa học</th>
									<th>Quản lý</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>Tiếng Anh</td>
									<td>6</td>
									<td>
										<a href="" class="edit" data-toggle="modal"><i class="material-icons" title="Edit">&#xE254;</i></a>
										<a href="" class="delete" data-toggle="modal"><i class="material-icons" title="Delete">&#xE872;</i></a>
									</td>
								</tr>
								<tr>
									<td>2</td>
									<td>Lập Trình</td>
									<td>11</td>
									<td>
										<a href="" class="edit" data-toggle="modal"><i class="material-icons" title="Edit">&#xE254;</i></a>
										<a href="" class="delete" data-toggle="modal"><i class="material-icons" title="Delete">&#xE872;</i></a>
									</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>

	
<script src="/javascript/validator.js"></script>	
<script>
		$('.sidebar-nav-item .dashboard').removeClass('active');
		$('.sidebar-nav-item .categories-management').addClass('active');

		    document.addEventListener("DOMContentLoaded", function () {
            Validator({
                form: "#add-categories",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired("#name", "Category name invalid"),
                    Validator.isRequired("#id", "ID invalid"),
					Validator.isRequired("#count-course", "Count course invalid"),
                    Validator.isConfirmed(
                        function () {
                            return document.querySelector("#add-categories").value;
                        },
                    ),
                ],
                onSubmit: function (data) {
                    // Call API
                    console.log(data);
                },
            });

			Validator({
                form: "#edit-categories",
                formGroupSelector: ".form-group",
                errorSelector: ".form-message",
                rules: [
                    Validator.isRequired("#name", "Category name invalid"),
                    Validator.isRequired("#id", "ID invalid"),
					Validator.isRequired("#count-course", "Count course invalid"),
                    Validator.isConfirmed(
                        function () {
                            return document.querySelector("#edit-categories").value;
                        },
                    ),
                ],
                onSubmit: function (data) {
                    // Call API
                    console.log(data);
                },
            });
        });
</script>





