<div class="container mt-5">
    <div class="row">
        <div class="col-sm-7 offset-sm-3 category-btn-group px-1">
            <a name="" id="" class="btn btn-success btn-lg category-btn category-btn--active mr-2" href="#"
                role="button">
                Khóa học nổi bật
            </a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">Lập trình ứng dụng
                Web</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">Lập trình thiết bị
                di động</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn mr-2" href="#" role="button">Lập trình
                windows</a>
        </div>
    </div>
    <!-- Product item -->
    <div class="product mt-5">
        <!-- Khóa học nổi bật -->
        <div class="row">
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">4</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">1.200.000đ</span>
                                <span class="product-item__price-current">1.000.000đ</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">4</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">1.200.000đ</span>
                                <span class="product-item__price-current">1.000.000đ</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">4</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">1.200.000đ</span>
                                <span class="product-item__price-current">1.000.000đ</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 d-flex justify-content-center my-3">
                <button type="button" class="btn btn-lg btn-success viewAllBtn">Tất cả khóa học</button>
            </div>
        </div>

        <!-- Khóa học được xem nhiều nhất -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-left">Khóa học được xem nhiều nhất</h2>
            </div>

            <!-- Carousel -->
            <div class="myCarousel col-sm-12">
                <div class="mySlickShow">
                    <a href="" class="product-item">
                        <div class="card card-item">
                            <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt=""
                                title="">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">4</span>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                                </div>
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">1.200.000đ</span>
                                    <span class="product-item__price-current">1.000.000đ</span>
                                </div>
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                    <i class="fas fa-heart"></i>
                                    Yêu Thích
                                </a>
                                <a class="btn btn-outline-success" href="#" role="button">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm Giỏ Hàng
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="mySlickShow">
                    <a href="" class="product-item">
                        <div class="card card-item">
                            <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt=""
                                title="">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">4</span>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                                </div>
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">1.200.000đ</span>
                                    <span class="product-item__price-current">1.000.000đ</span>
                                </div>
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                    <i class="fas fa-heart"></i>
                                    Yêu Thích
                                </a>
                                <a class="btn btn-outline-success" href="#" role="button">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm Giỏ Hàng
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="mySlickShow">
                    <a href="" class="product-item">
                        <div class="card card-item">
                            <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt=""
                                title="">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">4</span>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                                </div>
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">1.200.000đ</span>
                                    <span class="product-item__price-current">1.000.000đ</span>
                                </div>
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                    <i class="fas fa-heart"></i>
                                    Yêu Thích
                                </a>
                                <a class="btn btn-outline-success" href="#" role="button">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm Giỏ Hàng
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="mySlickShow">
                    <a href="" class="product-item">
                        <div class="card card-item">
                            <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt=""
                                title="">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">4</span>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                                </div>
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">1.200.000đ</span>
                                    <span class="product-item__price-current">1.000.000đ</span>
                                </div>
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                    <i class="fas fa-heart"></i>
                                    Yêu Thích
                                </a>
                                <a class="btn btn-outline-success" href="#" role="button">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm Giỏ Hàng
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="mySlickShow">
                    <a href="" class="product-item">
                        <div class="card card-item">
                            <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt=""
                                title="">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">4</span>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                                </div>
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">1.200.000đ</span>
                                    <span class="product-item__price-current">1.000.000đ</span>
                                </div>
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                    <i class="fas fa-heart"></i>
                                    Yêu Thích
                                </a>
                                <a class="btn btn-outline-success" href="#" role="button">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm Giỏ Hàng
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
                 <div class="mySlickShow">
                    <a href="" class="product-item">
                        <div class="card card-item">
                            <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt=""
                                title="">
                            <div class="card-body">
                                <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                                <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                                <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                                <div class="product-item__rating">
                                    <span class="product-item__total-star">4</span>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="product-item__star--gold fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                                </div>
                                <div class="product-item__price mt-1">
                                    <span class="product-item__price-old">1.200.000đ</span>
                                    <span class="product-item__price-current">1.000.000đ</span>
                                </div>
                            </div>
                            <div class="card-footer  product-item__footer">
                                <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                    <i class="fas fa-heart"></i>
                                    Yêu Thích
                                </a>
                                <a class="btn btn-outline-success" href="#" role="button">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm Giỏ Hàng
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <!-- Khóa học mới nhất -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Khóa học mới nhất</h2>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">4</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">1.200.000đ</span>
                                <span class="product-item__price-current">1.000.000đ</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">4</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">1.200.000đ</span>
                                <span class="product-item__price-current">1.000.000đ</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__category">Lĩnh vực: Lập trình web</span>
                            <div class="product-item__rating">
                                <span class="product-item__total-star">4</span>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="product-item__star--gold fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <h6 class="product-item__total-rating card-subtitle text-muted">(200)</h6>
                            </div>
                            <div class="product-item__price mt-1">
                                <span class="product-item__price-old">1.200.000đ</span>
                                <span class="product-item__price-current">1.000.000đ</span>
                            </div>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-danger mr-3" href="#" role="button">
                                <i class="fas fa-heart"></i>
                                Yêu Thích
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Thêm Giỏ Hàng
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-4">
            <ul class="pagination home-product__pagination">
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-left"></i>
                    </a>
                </li>

                <li class="pagination-item pagination-item--active">
                    <a href="" class="pagination-item-link">1</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">2</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">3</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">4</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">5</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">...</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">15</a>
                </li>

                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>