<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 category-btn-group">
            <a name="" id="" class="btn btn-success btn-lg category-btn category-btn--active" href="#" role="button">
                Tất cả khóa học
            </a>
            <a name="" id="" class="btn btn-success btn-lg category-btn" href="#" role="button">Lập trình Web</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn" href="#" role="button">Lập trình Android</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn" href="#" role="button">Lập trình IOS cơ bản</a>
            <a name="" id="" class="btn btn-success btn-lg category-btn" href="#" role="button">Tin học văn phòng</a>
        </div>
    </div>
    <!-- Product item -->
    <div class="product mt-5">
        <div class="row">
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 mb-4">
                <a href="" class="product-item">
                    <div class="card card-item">
                        <img src="/image/products/product1.jpg" class="product-item__img card-img-top" alt="" title="">
                        <div class="card-body">
                            <h5 class="card-title product-item__title">HTML, CSS từ zero đến Hero</h5>
                            <h4 class="card-subtitle mb-2 text-muted">Nguyễn Văn Dũng</h4>
                            <span class="card-text product-item__description">Khóa học đề cao việc thực hành qua những
                                ví dụ trong thực tế giúp học viên nhanh chóng xây dựng được giao diện website</span>
                            <h5 class="card-title text-danger product-item__price">450.000</h5>
                        </div>
                        <div class="card-footer  product-item__footer">
                            <a class="btn btn-outline-primary mr-3" href="#" role="button">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                Details
                            </a>
                            <a class="btn btn-outline-success" href="#" role="button">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Add to cart
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-4">
            <ul class="pagination home-product__pagination">
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-left"></i>
                    </a>
                </li>

                <li class="pagination-item pagination-item--active">
                    <a href="" class="pagination-item-link">1</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">2</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">3</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">4</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">5</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">...</a>
                </li>
                <li class="pagination-item">
                    <a href="" class="pagination-item-link">15</a>
                </li>

                <li class="pagination-item">
                    <a href="" class="pagination-item-link">
                        <i class="pagination-item-icon fas fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>