.category-btn-group {
    display: flex;
    justify-content: space-evenly;
}

.category-btn {
    background-color: #e6f4ef;
    color: var(--primary-color);
    border-radius: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.category-btn--active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Product item */
.product {
}

.product-item:hover {
    text-decoration: none;
}

.card-item {
    box-shadow: 0 2px 2px #ccc;
    border: 1px solid #ddd;
}

.product-item__img {
    object-fit: contain;
    box-shadow: 0 2px 2px #ccc;
}

.product-item__title {
    color: var(--text-color);
    font-size: 2.2rem;
    margin-bottom: 12px;
}

.product-item__category {
    font-size: 1.6rem;
    color: #333;
    margin-top: 12px;
    font-weight: 600;
}

.product-item__rating {
    color: #d5d5d5;
    margin-left: auto;
}

.product-item__rating i {
    font-size: 1.3rem;
}

.product-item__total-star {
    font-size: 1.7rem;
    color: #be5a0e;
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.product-item__star--gold {
    color: var(--star-gold-color);
}

.product-item__total-rating {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 4px;
}

.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.product-item__price-old {
    color: #666;
    text-decoration: line-through;
}

.product-item__price-current {
    color: red;
    margin-left: 10px;
    font-size: 2rem;
}

.product-item__footer a {
    font-size: 1.4rem;
}

/* Phân trang */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    margin: 0 14px;
}

.pagination-item--active .pagination-item-link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-item-link:hover {
    background-color: #449985;
}

.pagination-item-link {
    --height: 30px;
    color: #939393;
    text-decoration: none;
    font-size: 2rem;
    height: var(--height);
    min-width: 40px;
    display: inline-block;
    text-align: center;
    line-height: var(--height);
    border-radius: 3px;
}

.pagination-item-link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.viewAllBtn {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border-radius: 1.6rem;
}

/* Loại bỏ outline thừa khi tạo Carousel*/
.mySlickShow .product-item {
    outline: none;
}

.mySlickShow {
    margin-right: 6px;
}

/* Show Prev and Next Button*/
.slick-prev:before,
.slick-next:before {
    color: #555 !important;
    font-size: 30px;
}

.slick-prev:before {
    position: relative;
    left: 10px;
}

.slick-next {
    right: -2px;
}

.slick-next,
.slick-prev {
    top: 39%;
}

