.category-btn-group {
    display: flex;
    justify-content: space-evenly;
}

.category-btn {
    background-color: #e6f4ef;
    color: var(--primary-color);
    border-radius: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.category-btn--active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Product item */
.product {
}

.card-body {
    min-height: 190px;
}

.product-item:hover {
    text-decoration: none;
}

.card-item {
    box-shadow: 0 2px 2px #ccc;
    border: 1px solid #ddd;
}

.product-item__img {
    object-fit: contain;
    box-shadow: 0 2px 2px #ccc;
}

.product-item__title {
    color: var(--text-color);
    font-size: 2.2rem;
    margin-bottom: 12px;
}

.product-item__category {
    font-size: 1.6rem;
    color: #333;
    margin-top: 12px;
    font-weight: 600;
}

.product-item__rating {
    color: #d5d5d5;
    margin-left: auto;
}

.product-item__rating i {
    font-size: 1.3rem;
}

.product-item__total-star {
    font-size: 1.7rem;
    color: #be5a0e;
    position: relative;
    top: 2px;
    margin-right: 6px;
}

.product-item__star--gold {
    color: var(--star-gold-color);
}

.product-item__total-rating {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 4px;
}

.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 1.6rem;
}

.product-item__price-old {
    color: #666;
    text-decoration: line-through;
}

.product-item__price-current {
    color: red;
    margin-left: 10px;
    font-size: 2rem;
}

.product-item__footer a {
    font-size: 1.4rem;
}

/* Phân trang */
.pager {
    font-size: 0;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .pager__item {
    width: 40px;
    height: 40px;
    display: flex;
    align-content: center;
    vertical-align: top;
    font-weight: bold;
    margin: 0 5px;
  }
  .pager__item.active .pager__link {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
  }
  .pager__item--prev svg, .pager__item--next svg {
    width: 8px;
    height: 12px;
  }
  .pager__item--next .pager__link svg {
    transform: rotate(180deg);
    transform-origin: center center;
  }
  .pager__link {
    position: relative;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
    line-height: 2.625rem;
    margin-left: -1px;
    color: #2f3640;
    text-decoration: none;
    transition: 0.3s;
  }
  .pager__link:hover, .pager__link:focus, .pager__link:active {
    background-color: #ffb74d;
    border-color: #ffb74d;
    color: #fff;
    text-decoration: none;
  }
  .pager__link:hover svg path, .pager__link:focus svg path, .pager__link:active svg path {
    fill: #fff;
  }
  .pager .pager__item.active + .pager__item .pager__link, .pager .pager__item:hover + .pager__item .pager__link {
    border-left-color: #ffb74d;
  }
  
  @media screen and (max-width: 576px) {
    .pager__item {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .pager__item.active, .pager__item:first-of-type, .pager__item:last-of-type, .pager__item:nth-of-type(2), .pager__item:nth-last-of-type(2) {
      position: initial;
      top: initial;
      left: initial;
    }
    .pager__item.active + li {
      position: initial;
      top: initial;
      left: initial;
    }
  }

/* Loại bỏ outline thừa khi tạo Carousel*/
.mySlickShow .product-item {
    outline: none;
}

.mySlickShow {
    margin-right: 6px;
}

/* Show Prev and Next Button*/
.slick-prev:before,
.slick-next:before {
    color: #555 !important;
    font-size: 30px;
}

.slick-prev:before {
    position: relative;
    left: 10px;
}

.slick-next {
    right: -3px;
}

.slick-next,
.slick-prev {
    top: 39%;
}

.group-product-heading {
    color: #111;
    font-weight: 600;
    font-size: 3rem;
}

.group-product-description {
    color: #555;
    font-size: 1.5rem;

}

.filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 60px;
}

.filter-body {


}

.filter-button {
    position: relative;
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    padding: 0 10px;
    justify-content: center;
    font-weight: 700;
    line-height: 2.4;
    letter-spacing: -.02rem;
    font-size: 1.6rem;
    color: #0f7c90;
    background-color: transparent;
    border: 1px solid #2896a9;
}

.filter-button:hover {
    background-color: #e4f5f8;
    cursor: pointer;
}

.filter-button span {
    padding: 0px 5px;
}

.filter-items {
    width: auto;
    height: 52px;
    margin-left: 30px;
}

.filter-item__des input {
    width: 15px;
    height: 15px;
}

.filter-item__des span {
    font-size: 18px;
    margin-left: 5px;
}

.filter-item__des input[type="checkbox"]:checked {
    background: #0f7c90;
    border-color: #0f7c90;
}


.empty {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
  }
  

