/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: #ccc;
    color: #666;
} */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);

}

input {
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    border: 1px solid #999;
    font-size: 13px;
    padding: 0 1rem;
    margin: 8px 0;
    transition: .3s;
    color: #777;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #b6c5f2;
    border: 1px solid #97aff0;
}

.container{
    overflow: hidden;
    position: relative;
    width: 35%;
    height: 85vh;
}

.cont-right{
    background-color: #fff;
    height: 85vh;
    padding: 20px 35px;
    border: solid 1px #efefef;
    border-radius: .5rem;
}

.title{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-login{
    width: 100%;
    height: 3rem;
    border-radius: 25px;
    margin-top: 8px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    background: rgb(81, 190, 120);
    font-weight: bold;
}

.btn-login:focus{
    outline: none;
}

.btn-login:hover{
    background: rgb(81, 190, 120);
}

.btnGoogle{
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 25px;
    margin: 8px 0;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;
    background-color: #ea4335;
}

.btnGoogle:hover{
    text-decoration: none;
    color: #fff;
    background-color: #d33526;
}

.btnFacebook{
    display: block;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 25px;
    margin: 8px 0;
    border: none;
    outline: none;
    color: #fff;
    font-size: 13px;

    background-color: #4967a7;
}

.btnFacebook:hover{
    text-decoration: none;
    color: #fff;
    background-color: #2d4373;
}

.link_bottom{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 13px;
}

  

