
.modal-content {
    position: relative  ;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff; 
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#addEmployeeModal, #editEmployeeModal, #deleteEmployeeModal, #card-info {
    display: none;
    width: 100%;
    position: fixed;
    padding-top: 8%;
    background-color: rgba(0,0,0,0.2);
    z-index: 1;
}


.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;

}

.modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.modal-body {
	position: relative;
    flex: 1 1 auto;
}

.modal-footer {
	display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.modal-header .modal-footer btn {
	border-radius: 2px;
	min-width: 100px;
	min-width: 100px;
}	
.modal-body .form-control {
	display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal-body textarea.form-control {
	resize: vertical;
}

.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.modal-header .close, .wrapper-card .close {
	font-size: 1.5rem;
	font-weight: bold;
    padding: 0.5rem 0.5rem;
	margin: -1rem -1rem -1rem auto;
	opacity: .5;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
.modal-header .close:hover {
	opacity: 0.75;
}

.modal-footer .close {
    color: black;
    opacity: .5;
}
.modal-footer .close:hover {
	opacity: 0.75;
}

.btn {
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
	line-height: 1.5;
	cursor: pointer;
	border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-info {
    color: white;
    padding: 8px 30px;
    background-color: #17a2b8;
}
.btn-default {
    margin-right: 5px;
    padding: 8px 30px;
}
.btn-danger {
    color: white;
    padding: 8px 30px;
    background-color: #dc3545;
}


/* Card */
.modal-dialog-card {
    max-width: 700px;
    margin: 1.75rem auto;
}

.wrapper-card{
    position: relative;
    display: flex;
    width: 100%;
    pointer-events: auto;
    background-color: #fff; 
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .wrapper-card .left-card{
    width: 30%;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
  }
  
  .wrapper-card .left-card img{
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .wrapper-card .left-card h4{
    margin-bottom: 10px;
  }
  
  .wrapper-card .left-card p{
    font-size: 12px;
  }
  
  .wrapper-card .right-card{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .wrapper-card .right-card .info-card,
  .wrapper-card .right-card .projects{
    margin-bottom: 25px;
  }
  
  .wrapper-card .right-card .info-card h3,
  .wrapper-card .right-card .projects h3{
      margin-bottom: 15px;
      padding-bottom: 5px;
      border-bottom: 1px solid #e0e0e0;
      color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  
  .wrapper-card .right-card .info_data,
  .wrapper-card .right-card .projects_data{
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper-card .right-card .info_data .data,
  .wrapper-card .right-card .projects_data .data{
    width: 45%;
  }
  
  .wrapper-card .right-card .info_data .data h4,
  .wrapper-card .right-card .projects_data .data h4{
      color: #353c4e;
      margin-bottom: 5px;
  }
  
  .wrapper-card .right-card .info_data .data p,
  .wrapper-card .right-card .projects_data .data p{
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
  }
  

