<div class="container-fluid banner mt-3">
    <div class="banner__overlay">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 mt-5">
                    <h2 class="banner__heading mt-3">
                        Find the best
                        <br>
                        Online Courses
                    </h2>
                    <h5 class="banner__description mt-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolor soluta doloribus ducimus quo aut consequuntur minima voluptatum, eius quis rerum natus, pariatur provident. Libero officiis eum illum provident quis.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="banner__intro">
        <div class="container banner__intro-content">
            <div class="row">
                <div class="col-sm-4 banner__intro-item">
                    <i class="fas fa-user-graduate fa-5x mr-3"></i>
                    <span class="banner__intro-text">Trên 17.400 học viên</span>
                </div>
                <div class="col-sm-5 banner__intro-item">
                    <i class="fas fa-laptop-code fa-5x mr-3"></i>
                    <span class="banner__intro-text">10+ khóa học dành cho bạn</span>
                </div>
                <div class="col-sm-3 banner__intro-item">
                    <i class="fas fa-school fa-5x mr-3"></i>
                    <span class="banner__intro-text">Học ở mọi lúc, mọi nơi</span>
                </div>
            </div>
        </div>
    </div>
</div>