<footer class="footer mt-4">
    <div class="container footer__content">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Tin tức nổi bật</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn mua khóa học</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="footer__heading">Giới thiệu về DTT-Courses</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Quy chế hoạt động</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách hoàn tiền</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều khoản sử dụng</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="footer__heading">Danh mục</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Lập trình Web</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Lập trình Mobile</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Lập trình Windows</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="footer__heading">Theo dõi chúng tôi</h3>
                <p class="footer-text">Nhập email để nhận những thông tin hữu ích về học tập từ DTT Courses</p>
                <input class="footer__input" type="text" placeholder="Email của bạn là...">
                <button type="button" class="btn btn-success footer__btn">Đăng Ký</button>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p class="footer__text">© 2020 - Bản quyền thuộc về Công ty TNHH DTT Software</p>
        </div>
    </div>
</footer>